* {
  box-sizing: border-box;
  margin: 0;
  font-family: nova mono;
  color: #333;
  cursor: default;
}

html {
    font-size: 10vw;
}

body, section, header, div, label {
  display: flex;
  background-color: hsl(65, 50%, 98%);
}

body {
  flex-direction: column;
  height: 100vh;
}

.sequence-column,
.sequence-cell,
.drum,
.main-control-bar > section {
  flex: 1;
}

.main-control-bar,
.drums-bar {
  height: 7%;
}

.bpm {
  height: 6%;
}

.sequence-grid {
  height: 80%;
  overflow: hidden;
}

.sequence-grid-inner {
  height: 200%;
  width: 100%;
}

.sequence-column {
  flex-direction: column;
}

#bpm-input, .sequence-cell, .drum, .main-control-bar > section {
  margin: 0 3px 3px 0;
  border-radius: 6px;
  box-shadow: 1px 1px 2px #999;
}

.measure, .play, .kit, .bpm, .clear, .drum {
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: .5rem;
}

#bpm-input {
  height: 90%;
  min-width: 100vw;
}

.drum {
  background-color: hsl(55, 30%, 86%);
  color: #444;
  font-size: .4rem;
}

.kit, .measure {
  font-size: .4rem;
}

.grey {
  background-color: hsl(55, 30%, 86%);
}

.active-cell {
  background-color: hsl(45, 80%, 55%);
}

@media only screen and (orientation: landscape) {

  body, .sequence-column {
    flex-direction: row;
  }

  .main-control-bar, .drums-bar, .sequence-grid-inner {
    flex-direction: column;
  }

  .main-control-bar {
    height: 100%;
    width: 8%;
  }

  .drums-bar {
    height: 100%;
    width: 7%;
  }

  .bpm {
    height: 100%;
    width: 5%;
  }

  .sequence-grid {
    height: 100%;
    width: 80%;
  }

  .sequence-grid-inner {
    height: 100%;
    min-width: 200%;
  }

  .kit, .measure {
    font-size: .2rem;
  }

  .bpm, .play, .clear {
    font-size: .25rem;
  }

  .drum {
    font-size: .2rem;
  }

  #bpm-input {
      height: 4.5vw;
      min-width: 100vh;
  transform: rotate(270deg);
  }
}
