* {
  box-sizing: border-box;
  margin: 0;
  font-family: nova mono;
  color: #333;
  cursor: default;
}

html {
    font-size: 10vw;
}

body, section, header, div, label {
  display: flex;
  background-color: hsl(65, 50%, 98%);
}

body {
  flex-direction: column;
  height: 100vh;
}

.main-control-bar,
.drums-bar,
.bpm-text,
.sequence-cell,
.drum,
.main-control-bar > section {
  flex: 1;
}

#bpm-input {
  width: 50%;
  border: 0;
  outline: none;
  text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.bpm-text {
  width: 40%;
}

.sequence-grid {
  flex: 8;
  overflow: hidden;
}

.sequence-column {
  flex-direction: column;
  flex: 1;
  height: 200%;
}

.sequence-cell, .drum, .main-control-bar > section {
  margin: 0 3px 3px 0;
  border-radius: 6px;
  box-shadow: 1px 1px 2px #999;
}

.measure, .play, .kit, .bpm, .clear, .drum {
  align-items: center;
  justify-content: center;
  font-size: .6rem;
}

.bpm-text, #bpm-input {
  align-items: center;
  justify-content: center;
  font-size: .5rem;
}

.drum {
  background-color: hsl(55, 30%, 86%);
  color: #444;
  font-size: .4rem;
}

.kit, .measure {
  text-align: center;
  font-size: .4rem;
}

.grey {
  background-color: hsl(55, 30%, 86%);
}

.active-cell {
  background-color: hsl(45, 80%, 55%);
}

@media only screen and (orientation: landscape) {

  body, .sequence-column {
    flex-direction: row;
  }

  .main-control-bar, .drums-bar, .sequence-grid {
    flex-direction: column;
  }

  .sequence-column {
    width: 200%;
    margin-top: 0;
  }

  .kit, .measure {
    font-size: .2rem;
  }

  .bpm, .play, .drum, .clear, .bpm-text, #bpm-input {
    font-size: .3rem;
  }


  #bpm-input {
    width: 100%;
  }

  .bpm-text {
    flex-wrap: wrap;
  }
}
